= form_for @track do |f|
  = render "shared/error_messages", target: @track
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :artist_name
    = f.text_field :artist_name
  .actions
    = f.submit 'Save'
