- cache("trackId=#{itune["trackId"]}") do
  %tr
    %td= itune["artistName"]
    %td= itune["trackName"]
    %td= itune["collectionName"]
    %td= link_to("Listen", itune["previewUrl"])
    %td= image_tag(itune["artworkUrl30"])
    %td= number_to_currency(itune["collectionPrice"])
    %td= number_to_currency(itune["trackPrice"])
