= form_for(@search, url: tracks_search_path, method: "GET") do |f|
  = render "shared/error_messages", target: @search
  .field
    = f.text_field :track_name, placeholder: "Track Name"
  .field
    = f.text_field :artist_name, placeholder: "Artist Name"
  .action
    = f.submit("Search", name: nil)
