- cache(track) do
  %tr
    %td= track.artist_name
    %td= track.name
    %td= track.average_rating
    %td= track.releases
    %td= link_to("iTunes", itunes_track_path(track))
    %td
      - if current_user
        = render "ratings/form", target: track.ratings.find_by_user_id(current_user)
