%tr
  %td= track.artist_name
  %td= track.name
  %td= track.average_rating
	%td
		= form_for track do |f|
			= f.fields_for :ratings do |builder|
				= render "ratings/form", target: builder
  		= f.submit
