= form_for @user do |f|
  = render "shared/error_messages", target: @user
  .field
    = f.label :email, "Email Address"
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation
  .actions
    = f.submit (@user.new_record? ? "Sign up" : "Update")
  = recaptcha_tags
