- title "Home"

- if current_user
		%h1 Your most recent ratings:
		= render "shared/tablehead"
		%th Your rating
		%th Destroy rating
		%th Prediction
		%th Difference from prediction
		= render(@ratings) || "You have not yet rated any tracks. Search below to find a track to rate."
		%h1 Your top rated predictions for track you've yet to rate:
		= render "shared/tablehead"
		%th Prediction
		= render(@unrated_predictions) || "No predictions available that you have not already rated."
		= render "tracks/search_form"
- else
	%h1 Our top rated tracks: (Join or login to get personalized recommendations based on your ratings.)
	= render "shared/tablehead"
	%th Average rating
	= render(@tracks) || "No tracks. Search below to add some from MusicBrainz."
