= form_for @rating do |f|
  = render "shared/error_messages", target: @rating
  %p
    = f.label :value, "Value"
    %br
    = f.text_field :value
  %p
    = f.label :track_id
    %br
    = f.text_field :track_id
  %p
    = f.submit ("Rate")
