= form_for @rating do |f|
  - if @rating.errors.any?
    .error_messages
    %h2
      = pluralize(@rating.errors.count, "error")
      "prohibited this rating from being saved:"
    %ul 
      - @rating.errors.full_messages.each do |msg|
        %li= msg
  %p
    = f.label :value, "Value"
    %br
    = f.text_field :value
  %p
    = f.label :track_id
    %br
    = f.text_field :track_id
  %p
    = f.submit ("Rate")
