.ratings
  %table
  %tr
    %th Artist name
    %th Track name
    %th Your rating
    -#
      TODO: in the future have columns for prediction and difference from prediction
        maybe .select("value, prediction, abs(value-prediction) as result") in the controller?
    %th Destroy rating

  - target.each do |rating|
    %tr
      %td= rating.track.artist_name
      %td= rating.track.name
      %td= form_for rating do |f|
        - (1..5).each do |v|
          = f.label "value_#{v}"
          = f.radio_button :value, v
          = f.submit :Submit
      %td= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete
-# TODO: figure out pagination and if it'll work on home
