-# TODO: fix this (view helpers maybe?) one place where it seems erb > haml since there is no end tag thus lots of un-DRYness
-# TODO: figure out pagination
- if targets.first.value.nil?
  .unrated_predictions
    %table
      %tr
        %th Artist name
        %th Track name
        %th Prediction
        %th Difference from prediction

      - targets.each do |rating|
        %tr
          %td= rating.track.artist_name
          %td= rating.track.name
          %td= rating.prediction
          %td= rating.difference
- else
  .ratings
    %table
      %tr
        %th Artist name
        %th Track name
        %th Your rating
        %th Destroy rating

      - targets.each do |rating|
        %tr
          %td= rating.track.artist_name
          %td= rating.track.name
          %td
            = render "form", target: rating
          %td= link_to 'Destroy', rating, confirm: 'Are you sure?', method: :delete
