- cache(rating) do
  %tr
    %td= rating.track.artist_name
    %td= rating.track.name
    %td= rating.track.releases
    %td
      = render "ratings/form", target: rating
    %td= number_with_precision(rating.prediction.value, precision: 2)
    %td= link_to("iTunes", itunes_track_path(rating.track))
